@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

*{
	margin: 0;
	padding: 0;
}

body{

	background: #E0E0E0;
	
}

header{
	background: #E0E0E0;
	width: 100%;
	margin:auto;
	margin-bottom: 20px;
	font-family: arial;
	font-weight: bold;
	
}

.banner img{
	width: 100%;
	height: 175px;
}


/*MENU DE NAVEGACION*/
nav{
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
	
}

nav ul{
	list-style: none;
}

nav> ul{
	display: table;
	width: 100%;
	background: #1E419A;
	position: relative;
}

nav>ul li {
	display: table-cell;
}

/*sub menu*/

nav > ul > li:hover > ul{
	display: block;
	height: 100%;
}

nav > ul > li >ul{
	display: block;
	position: absolute;
	background: #b71c1c;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}


nav > ul li a{
	color: white;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}

nav > ul > li > ul > li a:hover{
	background: #CD4646;

}

/*SLIDER*/

.slider {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 1000%;
	animation: barrido 20s infinite;
	animation-timing-function: ease-in;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%;
	height: 550px;
}

@keyframes barrido {

	 0%{margin-left: 0;
	 }

	 20%{
	 	margin-left: 0;
	 }

	 25%{
	 	margin-left: -100%;
	 }
	 45%{
	 	margin-left: -100%;
	 }

	 50%{
	 	margin-left: -200%;
	 }
	 70%{
	 	margin-left: -200%;
	 }

	 75%{
	 	margin-left: -300%;
	 }
	 100%{
	 	margin-left: -300%;
	 }

	 120%{
	 	margin-left: -400%;
	 }

	 125%{
	 	margin-left: -400%;
	 }

	  145%{
	 	margin-left: -500%;
	 }

	 150%{
	 	margin-left: -500%;
	 }

	  170%{
	 	margin-left: -600%;
	 }

	 175%{
	 	margin-left: -600%;
	 
	 }
	  185%{
	 	margin-left: -700%;
	 
	 }
	 195%{
	 	margin-left: -700%;
	 }
}

.oficial{
display: none;}
/*FOOTER*/

footer{
	background-color: #1E419A;
	line-height: 1.5;
	text-align: center;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}